<div class="standing-background">
  <%= render partial: "tournaments/mobile_standings" %>
  <%= render partial: "tournaments/desktop/standings" %>
</div>
<style>
  footer {
    display: none
  }
</style>