<div class="premium-background">
  <div class="premium-description flex-center">
    <span class="pr-3"><%= I18n.t('homepage.premium.title.desktop') %></span>
    <a href="<%= get_premium_path %>" class="flex-center">
      <span class="premium-btn-title"><%= I18n.t('button.premium').html_safe %></span>
    </a>
  </div>
</div>