<div class="home-background flex-center">
  <div class="home-background__title text-center" style="font-size: 50px">
    <div class="main-text-box signed-main-text-box">
      <b><%= I18n.t('homepage.titles.desktop.title').html_safe %></b>
      <div class="mt-2 home-main-text"><%= I18n.t('homepage.titles.main_text').html_safe %></div>
    </div>
  </div>
</div>
<%= render partial: 'home/desktop/premium_background' %>
