<div class="premium-background">
  <p class="premium-description"><%= I18n.t('homepage.premium.title.mobile').html_safe %></p>
  <div class="premium-btn-bg flex-center">
    <a href="<%= get_premium_path %>" class="flex-center">
      <span class="premium-btn-title"><%= I18n.t('button.premium').html_safe %></span>
    </a>
  </div>
</div>