<div class="footer-page container my-5">
  <div class="text-center">
    <div><b>VCTRY-NUTZUNGSBEDINGUNGEN </b></div>
  </div>
  <div class="mt-3">
    <div class="footer-child-section">
      <div><b><span class="pr-2">1.</span> Was ist VCTRY und wer betreibt es?</b></div>
      <div class="mt-3">
        <span class="pr-2">1.1</span> VCTRY wird von der VCTRY Esports UG, Hannoversche Straße 41, 29221 Celle (haftungsbeschränkt) (im Folgenden „Plattform-Anbieter“) betrieben und ist eine Online-Plattform für Geschicklichkeitsspiele mit Gewinnmöglichkeit (im Folgenden „VCTRY“). VCTRY erlaubt den registrierten Spielern (im Folgenden „User“) Benutzerkonten anzulegen (im Folgenden „Accounts“) und organisiert die Spiele. VCTRY verbindet hierzu die Plattform mit den Anbietern der Spiele-Seiten im Internet (im Folgenden „Spiel-Anbieter“). Über VCTRY können User somit gegeneinander antreten, in Ligen spielen und Geld oder andere Preise gewinnen. 
      </div>
      <div class="mt-3">
        <span class="pr-2">1.2</span> Die Spiele selbst werden nicht vom Plattform-Anbieter, sondern vom jeweiligen Spiel-Anbieter betrieben. Der Plattform-Anbieter hat somit keinen Einfluss auf die Bedingungen oder den Ausgang der Spiele. VCTRY stellt nur die Verknüpfung zu den Spielen her. Der Plattform-Anbieter ist daher nicht für die Verfügbarkeit und Erreichbarkeit der Spiele verantwortlich.
      </div>
      <div class="mt-3">
        <span class="pr-2">1.3</span> VCTRY vermittelt ausschließlich solche Spiele, bei denen Geschicklichkeit und eine taktische Herangehensweise spielentscheidend sind. Dementsprechend werden keine Spiele über VCTRY angeboten, bei denen Glück den Spielausgang entscheidend beeinflusst. Über VCTRY können folglich nur Geschicklichkeitsspiele und keine Glücksspiele gespielt werden. Sollte es sich im Laufe der Zeit herausstellen, dass ein auf VCTRY angebotenes Spiel durch dessen Weiterentwicklung mehr Glückselemente enthält, steht es dem Plattform-Betreiber frei, dieses Spiel von VCTRY zu entfernen.
      </div>
    </div>
    <div class="mt-3 footer-child-section">
      <div><b><span class="pr-2">2.</span> Wie kann ich mich bei VCTRY registrieren? </b></div>
      <div class="mt-3">
        <span class="pr-2">2.1</span> Zur Nutzung VCTRYs ist eine Anmeldung des Users notwendig (im Folgenden „Registrierung“). Bei der Registrierung muss der User auch diesen VCTRY-Nutzungsbedingungen (im Folgenden „AGB“) zustimmen, bevor er VCTRY nutzen kann. Der User muss alle Angaben im Rahmen der Registrierung und Nutzung von VCTRY wahrheitsgemäß tätigen. User dürfen sich nur einmal auf VCTRY registrieren. 
      </div>
      <div class="mt-3">
        <span class="pr-2">2.2</span> User können sich auf verschiedene Arten registrieren: Zum einen können User VCTRY ohne Zahlung einer monatlichen Gebühr nutzen (im Folgenden „Free-User“), zum anderen können User bestimmte, nachfolgend näher beschriebene, Vorteile nutzen, sofern ein kostenpflichtiges Abonnement abgeschlossen wird (im Folgenden „Premium-User“). Sowohl Free-User als auch Premium-User können des Weiteren Geld einzahlen und mit anderen Spieler um dieses Geld spielen (im folgenden „Pay-User“).
      </div>
      <div class="mt-3">
        <span class="pr-2">2.3</span> Spieler- und Teamaccounts sind nicht übertragbar. Die Weitergabe und/oder Veräußerung ist untersagt.
      </div>
      <div class="mt-3">
        <span class="pr-2">2.4</span> Die Accounts der User auf VCTRY sind nicht übertragbar. Die Zugangsdaten sind vom User geheim zu halten und dürfen nicht an Dritte weitergegeben werden. 
      </div>
    </div>
    <div class="mt-3 footer-child-section">
      <div><b><span class="pr-2">3.</span> Welche Voraussetzungen gelten für die Registrierung und das Spielen auf VCTRY?</b></div>
      <div class="mt-3">
        <span class="pr-2">3.1</span> Die Registrierung als User ist erst ab 14 Jahren zulässig. Der Plattform-Anbieter behält sich das Recht vor, die Registrierungsinformationen eines Users zu überprüfen (im Folgenden „Verifizierung“). Im Rahmen der Verifizierung kann der Plattform-Anbieter das Alter des Users überprüfen.
      </div>
      <div class="mt-3">
        <span class="pr-2">3.2</span> Der Plattform-Anbieter zahlt etwaige Gewinne und Guthaben ausschließlich via PayPal  (<a href="https://www.paypal.com" target="_blank">www.paypal.com</a>) oder via Banküberweisung innerhalb der europäischen Union aus. Es liegt in der Verantwortung des Users, dem Plattformanbieter eine entsprechende Zahlungsmethode zu nennen bzw. im User-Account zu hinterlegen. Für Ein- und Auszahlung mit PayPal gelten die Nutzungsbedingungen des Zahlungsdienstleisters. Diese Nutzungsbedingungen können hier eingesehen werden <a href="https://www.paypal.com/de/webapps/mpp/ua/useragreement-full" target="_blank">https://www.paypal.com/de/webapps/mpp/ua/useragreement-full</a>. Ein- und Auszahlungen von Guthaben auf das PayPal Wallet sind grundsätzlich kostenfrei, sofern nicht in den Konto-Nutzungsbedingungen abweichend geregelt, sofern bei einer Einzahlung (beispielsweise durch den Einsatz von Dienstleistern wie Kreditkarten-Anbieter American Express) oder einer Auszahlung (beispielsweise durch einen zu geringen Auszahlungsbetrag bzw. Gebühren der Zahlungsmethode) Kosten entstehen, sind diese im Verhältnis zwischen Plattform-Anbieter und User vom User zu tragen. Der User wird über diese Kosten ausdrücklich informiert, bevor er die Zahlung auslöst.
      </div>
      <div class="mt-3">
        <span class="pr-2">3.3</span> Der Plattform-Anbieter sichert keinen festen Platz in einem bestimmten Spiel oder Wettbewerb zu. Die Teilnahme an dem jeweiligen Spiel oder Wettbewerb richtet sich nach der Reihenfolge der Anmeldungen.
      </div>
    </div>
    <div class="mt-3 footer-child-section">
      <div><b><span class="pr-2">4.</span> Welche Spiele gibt es und welche Kosten entstehen bei der Nutzung von VCTRY?</b></div>
      <div class="mt-3">
        <span class="pr-2">4.1</span> Die Registrierung auf VCTRY ist kostenlos.
      </div>
      <div class="mt-3">
        <span class="pr-2">4.2</span> Auf VCTRY werden folgende Arten von Spielen angeboten:
        <div class="mt-1">
          <ol type="a">
            <li><span class="pl-2"><b>Free Section</b>: Auf VCTRY kann kostenlos gespielt werden.</span></li>
            <li>
              <span class="pl-2">
                <b>Premium Section</b>: Diese Spiele (Turniere und Ligasystem) sind exklusiv für Premium-User reserviert. Bei diesen Spielen können Premium-User um Geld spielen. Das Preisgeld wird hierbei vom Plattform-Anbieter gestellt. Premium-User können nur in einem Premium-Turnier zur selben Zeit eingeschrieben sein.
              </span>
            </li>
            <li>
              <span class="pl-2">
                <b>Buy-In Games und Challenge Games</b>: Bei diesen Spielen müssen die User vor einer Teilnahme eine Gebühr entrichten. Die eingezahlte Teilnahmegebühren enthält einen Aufschlag für den Plattform-Anbieter von bis zu 25 %, die übrigen Teilnahmegebühren werden jeweils als Preisgeld wieder ausgespielt. Die vom Plattform-Anbieter einbehaltene Teilnahmegebühr ist die Gegenleistung für den Betrieb von VCTRY und die sonstigen Leistungen auf VCTRY. Sowohl Pay-User als auch Premium-User können Buy-In und Challenge Games spielen.
              </span>
            <li>
              <span class="pl-2">
                <b>Sponsored Tournaments</b>: Diese Spiele sind für Premium-User und Pay-User. Hier wird das Preisgeld vom Plattform-Anbieter und/oder Dritten gestellt.
              </span>
            </li>
          </ol>
        </div>
      </div>
      <div class="mt-3">
        <span class="pr-2">4.3</span> Die Mitgliedschaft als Premium-User ist kostenpflichtig. Premium-User haben die Wahl zwischen der Zahlung einer einmaligen Gebühr (um für den Zeitraum eines Tages, von sieben Tagen, von 30 Tagen oder bis zu 365 Tagen im Voraus Premium-User zu sein) oder einem laufenden Abonnement (im Folgenden „Abonnement“) mit reduzierten wiederkehrenden Kosten. Die wiederkehrenden Kosten werden nur für den jeweils aktuellen Abrechnungszeitraum von 30 Tagen von der hinterlegten Zahlungsmethode des Users abgebucht. Das Abonnement ist von jeder Seite jederzeit zum Ende des aktuellen Abrechnungszeitraumes kündbar. Um möglichst vielen Usern den Zutritt zu Premium-Turnieren zu ermöglichen, kann jeder Premium-User zeitgleich nur in einem Premium-Turnier eingeschrieben sein.
      </div>
      <div class="mt-3">
        <span class="pr-2">4.4</span> Die User sind jeweils selbst verantwortlich, eventuell erspielte Preise und Gewinne zu versteuern oder andere Abgaben zu leisten, für die User rechtlich verantwortlich sind.
      </div>
    </div>
    <div class="mt-3 footer-child-section">
      <div><b><span class="pr-2">5.</span> Welche Regeln gelten für User bei den Spielen?</b></div>
      <div class="mt-3">
        <span class="pr-2">5.1</span> Die User müssen die vom Plattform-Anbieter aufgestellten Spielregeln (im Folgenden „Spielregeln“) einhalten. Diese Spielregeln können unter in der jeweiligen Turnierübersicht abgerufen werden. Bei Verstoß gegen die Spielregeln werden die dort aufgeführten Sanktionen ausgesprochen, die bis zu einem Ausschluss des Users reichen können. Darüber hinaus behält sich der Plattform-Anbieter das Recht vor, den zukünftigen Zugang zu VCTRY zu untersagen, die Teilnahme an bestimmten Spielen oder Spielformen zu untersagen, Spielerfolge für nichtig zu erklären und gegebenenfalls zivil- oder strafrechtliche Schritte einzuleiten.
      </div>
      <div class="mt-3">
        <span class="pr-2">5.2</span> Ein Gewinnanspruch gegen den Plattform-Anbieter ist nur dann gegeben, wenn das jeweilige Spiel gewonnen wird und alle Spielregeln eingehalten wurden. Die Folgen eines Verstoßes im Hinblick auf den Gewinnanspruch sind in den Spielregeln näher beschrieben.
      </div>
      <div class="mt-3">
        <span class="pr-2">5.3</span> Der User ist dafür verantwortlich, dass die Systemvoraussetzungen für das jeweilige Spiel erfüllt werden. Die Systemvoraussetzungen sind beim jeweiligen Spiele-Anbieter einzusehen.
      </div>
    </div>
    <div class="mt-3 footer-child-section">
      <div><b><span class="pr-2">6.</span> Wie wird Geld ein- und ausgezahlt?</b></div>
      <div class="mt-3">
        <span class="pr-2">6.1</span> Der Plattform-Anbieter kooperiert zur Abwicklung von Ein- und Auszahlungen mit der Skrill Limited, Floor 27, 25 Canada Square, London E 14 5LQ, United Kingdom (im Folgenden „Zahlungsdienstleister“) . Der Zahlungsdienstleister führt ein Konto für den Plattform-Anbieter (im Folgenden „Merchant Wallet“). Der Zahlungsdienstleister führt auf Wunsch darüber hinaus für jeden User ein Konto (im Folgenden „Skrill Wallet“). Im Zusammenhang mit der Einzahlung und der Auszahlung von Geld auf das Skrill Wallet eines Users gelten die Nutzungsbedingungen des Zahlungsdienstleisters. Diese Nutzungsbedingungen können unter <a href="https://www.skrill.com/de/fusszeile/allgemeinegeschaeftsbedingungen/skrillaccounttermsofuse" target="_blank">https://www.skrill.com/de/fusszeile/allgemeinegeschaeftsbedingungen/skrillaccounttermsofuse</a> abgerufen werden. Ein- und Auszahlungen von Guthaben auf das Skrill Wallet sind grundsätzlich kostenfrei, sofern nicht in den Konto-Nutzungsbedingungen abweichend geregelt, sofern bei einer Einzahlung (beispielsweise durch den Einsatz von Dienstleistern wie PayPal oder PaySafe) oder einer Auszahlung (beispielsweise durch einen zu geringen Auszahlungsbetrag bzw. Gebühren der Zahlungsmethode) Kosten entstehen, sind diese im Verhältnis zwischen Plattform-Anbieter und User vom User zu tragen. Der User wird über diese Kosten ausdrücklich informiert, bevor er die Zahlung auslöst.
      </div>
      <div class="mt-3">
        <span class="pr-2">6.2</span> Wenn der User Geld einzahlt, wird dies direkt dem Wallet des Users beim Zahlungsdienstleister gutgeschrieben. Damit der User die Einzahlung veranlassen kann, wird er von VCTRY auf die Website eines Zahlungsabwicklers weitergeleitet. Nimmt der User an einem kostenpflichtigen Spiel teil, wird das Wallet des Users mit der Teilnahmegebühr belastet und die Teilnahmegebühr an den Plattform-Anbieter gezahlt. Der User erklärt mit Spielteilnahme seine entsprechende Einzugsermächtigung. Gewinnt der User bei dem Spiel, zahlt der Plattform-Anbieter den ausgelobten Gewinn nach dem Spiel auf das Wallet des Users aus.
      </div>
    </div>
    <div class="mt-3 footer-child-section">
      <div><b><span class="pr-2">7.</span>  Wann wird ein Account als inaktiv betrachtet?</b></div>
      <div class="mt-3">
        <span class="pr-2">7.1</span> Sollte ein User sich für einen ununterbrochenen Zeitraum von 180 Tagen nicht durch Eingabe des Benutzernamens und Passworts in den Account einloggen und an einem der unter Ziffer 4.2 genannten Spiele teilnehmen, wird nach den abgelaufenen 180 Tagen der Account als „inaktiv“ betrachtet.
      </div>
      <div class="mt-3">
        <span class="pr-2">7.2</span> Der Plattform-Anbieter wird den Account reaktivieren, sobald sich ein User durch Eingabe des Benutzernamens und Passworts in den Account einloggt und an einem der unter Ziffer 4.2 genannten Spiele teilnimmt.
      </div>
      <div class="mt-3">
        <span class="pr-2">7.3</span> Falls ein Account über eine Dauer von zwölf (12) aufeinanderfolgenden Kalendermonaten als inaktiv betrachtet wird, behält sich der Plattform-Anbieter das Recht vor, den Account zu schließen. 
      </div>
      <div class="mt-3">
        <span class="pr-2">7.4</span> Mit der Schließung endet der Vertrag mit dem Plattform-Anbieter.
      </div>
    </div>
    <div class="mt-3 footer-child-section">
      <div><b><span class="pr-2">8.</span> Wie ist VCTRY verfügbar?</b></div>
      <div class="mt-3">
        <span class="pr-2">8.1</span> Der Plattform-Anbieter ist bemüht, eine maximale Verfügbarkeit VCTRYs zu gewährleisten. Für Premium-User ist eine Verfügbarkeit VCTRYs durch den Plattform-Anbieter von 95 % im Durchschnitt eines Jahres geschuldet. Hiervon ausgenommen sind Zeiten, in denen die Server für die jeweiligen Spiele auf Grund von technischen oder sonstigen Problemen, die nicht im Einflussbereich des Plattform-Betreibers liegen (z.B. höhere Gewalt, Verschulden Dritter ) nicht zu erreichen sind. 
      </div>
      <div class="mt-3">
        <span class="pr-2">8.2</span> Um notwendige Wartungsarbeiten und die Berechnung des Ranking-Systems zu beschleunigen, ist der Zugang zu VCTRY täglich für einen Zeitraum von ca. 90 Minuten zwischen 5:00 und 8:00 Uhr MEZ nicht verfügbar. Auf diesen Zeitraum finden die Regelungen über die Verfügbarkeit VCTRYs keine Anwendung. Der Plattform-Betreiber kann ferner den Zugang zu den Spielen beschränken, sofern die Sicherheit des Netzbetriebes, die Aufrechterhaltung der Netzintegrität, insbesondere die Vermeidung schwerwiegender Störungen des Netzes, der Software oder gespeicherter Daten dies erfordern; auch diese Zeiten werden bei der Berechnung der Verfügbarkeit ebenfalls nicht berücksichtigt.
      </div>
      <div class="mt-3">
        <span class="pr-2">8.3</span> Der Plattform-Anbieter ist nicht für Fehler in der Verbindung zu den Spiel-Anbietern oder zu den Usern verantwortlich. Ist eine Verbindung nicht verfügbar, stellt dies keine Nicht-Verfügbarkeit im Sinne dieser Ziffer 9 dar.
      </div>
    </div>
    <div class="mt-3 footer-child-section">
      <div><b><span class="pr-2">9.</span> Welche Regelungen gelten im Hinblick auf den Datenschutz?</b></div>
      <div class="mt-3">
        Die Bestimmungen zum Datenschutz sind in der Datenschutzrichtlinie <a href="http://www.vctry.gg/datenschutzsss" target="_blank">www.vctry.gg/datenschutz</a> enthalten.
      </div>
    </div>
    <div class="mt-3 footer-child-section">
      <div><b><span class="pr-2">10.</span> Inwieweit besteht eine Haftung des Plattform-Anbieters?</b></div>
      <div class="mt-3">
        <span class="pr-2">10.1</span> Der Plattform-Anbieter haftet unbeschränkt für vorsätzliches oder grob fahrlässiges Handeln, sowie einer Verletzung von Leben, Körper oder Gesundheit und nach den Vorschriften des Produkthaftungsgesetzes. Im Übrigen gilt folgendes: 
        <div class="mt-1">
          <ol type="a">
            <li>
              <span class="pl-2">
                Free-Usern gegenüber, die bei VCTRY nicht als Pay-User spielen oder anderweitig entgeltliche Leistungen des Plattform-Anbieters nutzen, übernimmt der Plattform-Anbieter keine weitere Haftung.  
              </span>
            </li>
            <li>
              <span class="pl-2">
                Der Plattform-Anbieter haftet Premium-Usern gegenüber für die in Ziffer 9 beschriebe Verfügbarkeit von VCTRY. 
              </span>
            </li>
            <li>
              <span class="pl-2">
                Premium-Usern und Pay-Usern gegenüber haftet VCTRY ferner für wesentliche Vertragspflichten von VCTRY, also für die Erfüllung vereinbarter entgeltlicher Leistungen des Plattform Anbieters, die ein User extra vergütet. 
              </span>
            </li>
            <li>
              <span class="pl-2">
                Bei fahrlässig verursachten Sach- und Vermögensschäden haftet der Plattform-Anbieter nur bei der Verletzung einer wesentlichen Vertragspflicht, jedoch der Höhe nach beschränkt auf die bei Vertragsschluss vorhersehbaren und vertragstypischen Schäden. 
              </span>
            </li>
            <li>
              <span class="pl-2">
                Jede darüber hinausgehende Haftung des Plattform-Anbieters wird ausgeschlossen.  
              </span>
            </li>
          </ol>
        </div>
      </div>
      <div class="mt-3">
        <span class="pr-2">10.2</span> Der Plattform-Anbieter übernimmt anderen Usern gegenüber keine Gewähr für die Richtigkeit der von einem User gemachten eigenen Angaben oder eingestellten Inhalten.
      </div>
    </div>
    <div class="mt-3 footer-child-section">
      <div><b><span class="pr-2">11.</span> Was gilt im Hinblick auf das geistige Eigentum?</b></div>
      <div class="mt-3">
        <span class="pr-2">11.1</span> Texte, Bilder, Grafiken, Ton-, Video- und Animationsdateien sowie ihre Arrangements auf VCTRY unterliegen dem Urheberrecht und anderer Gesetze zum Schutz geistigen Eigentums. Sie dürfen ohne Zustimmung des Rechteinhabers nicht unberechtigt verwendet werden. Auf VCTRY werden eingetragene Warenzeichen, Handelsnamen und Marken dargestellt. Auch wenn diese nicht als solche gekennzeichnet sind, gelten die entsprechenden Schutzbestimmungen. Dies gilt auch für sonstige geschützte Güter, insbesondere Werke, Erfindungen, Zeichen, Formen oder Designs. 
      </div>
      <div class="mt-3">
        <span class="pr-2">11.2</span> Sofern der User Inhalte auf VCTRY einstellt oder dort schafft, räumt er dem Plattform-Anbieter und allen verbundenen Unternehmen des Plattform-Anbieters i. S. d. § 15 AktG ein dauerhaftes, einfaches, übertragbares, kostenfreies, sachlich und räumlich unbeschränktes Nutzungsrecht an den Verwertungshandlungen, insbesondere Vervielfältigung, Verbreitung, Ausstellung, Vortrag, Aufführung, Vorführung, Sendung, öffentlicher Zugänglichmachung, Sendung oder sonstige Bearbeitung einschließlich noch unbekannter Nutzungsarten, ein. Der User verzichtet auf die Geltendmachung seiner Urheberpersönlichkeitsrechte, insbesondere auf die Urheberbezeichnung.
      </div>
    </div>
    <div class="mt-3 footer-child-section">
      <div><b><span class="pr-2">12.</span> Wie können diese AGB geändert werden, und was gilt sonst noch?</b></div>
      <div class="mt-3">
        <span class="pr-2">12.1</span> Der Plattform-Anbieter behält sich Änderungen am Inhalt dieser AGB vor, unter der Bedingung, dass die Änderungen unter Berücksichtigung der Interessen des Plattform-Anbieters für den User zumutbar sind. 
        <div class="mt-1">
          <ol type="a">
            <li>
              <span class="pl-2">
                Dies ist insbesondere der Fall, falls eine Änderung der AGB zur Anpassung an Weiterentwicklungen VCTRYs erforderlich wird. Die geänderten AGB übermittelt der Plattform-Anbieter spätestens sechs Wochen vor ihrem Inkrafttreten an den User. Den Hinweis auf die Änderung der AGB kann der Plattform-Anbieter auch über die Nachrichtenfunktionen VCTRYs an die User senden. 
              </span>
            </li>
            <li>
              <span class="pl-2">
                Dem User steht nach einer Änderung der AGB ein  Sonderkündigungsrecht mit sofortiger Wirkung innerhalb von sechs (6) Wochen ab Zugang der Änderungserklärung zu. Kündigt der User innerhalb dieser Frist nicht schriftlich, werden die Änderungen Vertrags-bestandteil. Der User wird auf diese Folge in der Änderungsmitteilung hingewiesen.
              </span>
            </li>
          </ol>
        </div>
      </div>
      <div class="mt-3">
        <span class="pr-2">12.2</span> Bei einem Verstoß gegen Bestimmungen dieser AGB behält sich der Plattform-Anbieter das Recht vor, den Account des Users zu sperren oder zu löschen. Eine Sperrung oder Löschung kommt vor allem in Betracht, wenn durch den Verstoß gegen diese Bestimmungen dem Plattform-Anbieter unter Berücksichtigung aller Umstände des Einzelfalls, insbesondere eines Verschuldens des Users, und unter Abwägung der beiderseitigen Interessen die Fortsetzung dieser Vereinbarung nicht zugemutet werden kann. 
      </div>
      <div class="mt-3">
        <span class="pr-2">12.3</span> Auf diese AGB findet das Recht der Bundesrepublik Deutschland unter Ausschluss des UN-Kaufrechts Anwendung. 
      </div>
    </div>
  </div>
</div>