<div class="footer-page container my-5">
  <div><b>Registration</b></div>
  <div class="mt-3 footer-child-section">
    I have registered an account. Why don’t I receive a confirmation email?
    <ul class="mt-3">
      <li>
        Depending on your provider, it can take up to 30 minutes before you receive an email. 
      </li>
    </ul>
    Why do I have to fill in my correct address?
    <ul class="mt-3">
      <li>
        We are not able to pay out prize money if you have not filled in your address.
      </li>
    </ul>
    Why do I need a Discord ID?
    <ul class="mt-3">
      <li>
        During a tournament, the live support happens on Discord. Without a Discord ID, you cannot participate in a tournament.
      </li>
    </ul>
  </div>

  <div class="mt-3"><b>PAYMENT</b></div>
  <div class="mt-3 footer-child-section">
    What payment methods are available?
    <ul class="mt-3">
      <li>
        Currently, we are offering PayPal, Credit Cards, SEPA direct debit, and paysafecard. We will add further options from time to time.
      </li>
    </ul>
    How can I withdraw my balance on your platform?
    <ul class="mt-3">
      <li>
        You can withdraw your balance with PayPal only. Should you not possess a PayPal account, you can request a bank transfer through <a href="https://www.VCTRY.GG/support">https://www.VCTRY.GG/support</a>.
      </li>
    </ul>
    Why do I need a Discord ID?
    <ul class="mt-3">
      <li>
        During a tournament, the live support happens on Discord. Without a Discord ID, you cannot participate in a tournament.
      </li>
    </ul>
  </div>
  
  <div class="mt-3"><b>RAFFLES</b></div>
  <div class="mt-3 footer-child-section">
    How many Raffle Tickets do I get per day?
    <ul class="mt-3">
      <li>
        Every User receives 1 Raffle Ticket per day. Premium Members receive 5 Raffle Tickets per day. 
      </li>
    </ul>
    How do I obtain my Raffle Tickets? 
    <ul class="mt-3">
      <li>
        You have to login daily and claim your Raffle Tickets on the Raffle Page. 
      </li>
    </ul>
    How long are my Raffle Tickets valid? 
    <ul class="mt-3">
      <li>
        Your Raffle Tickets do lose validity.
      </li>
    </ul>
    How do you determine the Raffle’s winners?
    <ul class="mt-3">
      <li>
        When the Raffle is over, a randomizer will draw the lucky winner(s).
      </li>
    </ul>
    When do I receive my Prize(s)? 
    <ul class="mt-3">
      <li>
        Prize money and Raffle prizes are generally transferred or sent by mail within 48 hours after each respective Raffle or Tournament.
      </li>
    </ul>
  </div>

  <div class="mt-3"><b>PREMIUM</b></div>
  <div class="mt-3 footer-child-section">
    What Premium Plans are available? 
    <ul class="mt-3">
      <li>
        You can choose between one-time purchases for 1, 7, and 30 days or a discounted monthly renewal 
      </li>
    </ul>
    I’m a Team Manager and I want to buy Premium for my players, can I do this? 
    <ul class="mt-3">
      <li>
        You can buy one or more Premium Voucher Codes at once. The codes will be sent to you via email. 
      </li>
    </ul>
    Is an annual subscription available? 
    <ul class="mt-3">
      <li>
        Currently, we are not offering yearly subscriptions.
      </li>
    </ul>
  </div>

  <div class="mt-3"><b>USER ACCOUNT</b></div>
  <div class="mt-3 footer-child-section">
    Can I change my username? 
    <ul class="mt-3">
      <li>
        You can change your username in your profile settings. Premium Members may change their username every 30 days.
      </li>
    </ul>
    How can I delete my account? 
    <ul class="mt-3">
      <li>
        In general, deleting your account requires a support ticket. 
      </li>
    </ul>
  </div>

  <div class="mt-3"><b>TOURNAMENTS</b></div>
  <div class="mt-3 footer-child-section">
    What happens, if my internet connection interrupts during a match? 
    <ul class="mt-3">
      <li>
        Each game handles disconnect issues differently. Please refer to each tournament’s rule set und the connectivity topic.
      </li>
    </ul>
    Why do I have to take a screen shot of my result? 
    <ul class="mt-3">
      <li>
        Should you or your opponent dispute a score after a match, a screen shot is required to prove the score.
      </li>
    </ul>
    Can I play or join more than one tournament at once? 
    <ul class="mt-3">
      <li>
        Each player may only be registered or participating in one tournament at a time.
      </li>
    </ul>
    Why can I not join a tournament? 
    <ul class="mt-3">
      <li>
        To participate in prize money tournaments, you need an active Premium Membership. With this membership you are entitled to join every tournament on our platform. You must also have filled in all mandatory details on your profile such as your Game ID, your Discord ID and your full address.
      </li>
    </ul>
    Can I stream my matches while playing in a tournament? 
    <ul class="mt-3">
      <li>
        Feel free to show who’s the best. 
      </li>
    </ul>
    How can I contact your support team? 
    <ul class="mt-3">
      <li>
        During a tournament you can call an admin into your match lobby. Any topics outside a tournament will be taken care of at <a href="https://www.VCTRY.gg/support">https://www.VCTRY.gg/support</a>
      </li>
    </ul>
    What can I do if I am harassed, insulted, or attacked? 
    <ul class="mt-3">
      <li>
        Should you feel personally attacked, insulted, or harassed, you may file a support ticket with a screenshot said action. We have absolutely 0 tolerance for toxic and abusing behavior and will act accordingly. 
      </li>
    </ul>
    How can I tell who are VCTRY.GG employees? 
    <ul class="mt-3">
      <li>
        All VCTRY employees have an employee badge on their profile, and the prefix VCTRY| before their name on our Discord server.  
      </li>
    </ul>
    What if someone is pretending to be a VCTRY.GG employee? 
    <ul class="mt-3">
      <li>
        You can report this to us through <a href="support@vctry.gg">support@vctry.gg</a>. Please make sure to provide us with a link to their profile. Please Note: No information regarding the investigation or the outcome will be relayed back to you once a report has been made. 
      </li>
    </ul>
  </div>

  <div class="mt-3"><b>JOBS</b></div>
  <div class="mt-3 footer-child-section">
    How do I apply to become an Admin?
    <ul class="mt-3">
      <li>
        Currently, we are happy to accept applications through <a href="jobs@vctry.gg">jobs@vctry.gg</a> with the subject [your desired game] Admin Application. We will take a close look at your application and get back to you within a week. 
      </li>
    </ul>
  </div>
</div>