<div class="footer-page container my-5">
  <div><b>Legal Notice</b></div>
  <div class="mt-3">
    <div><b>Information pursuant to Sect. 5 German Telemedia Act (TMG)</b></div>
    <div class="mt-3 footer-child-section">
      <div>VCTRY Esports UG (haftungsbeschraenkt)</div>
      <div>Hannoversche Strasse 41</div>
      <div>29221 Celle</div>
      <div>Handelsregister: HRB 208664</div>
      <div>Registergericht: Lueneburg</div>
    </div>
    <div class="mt-3 footer-child-section">
      <div><b>Represented by the Managing Directors</b></div>
      <div>Christian Polensky</div>
      <div>Christopher Young</div>
    </div>
  </div>
  <div class="mt-3">
    <div><b>Contact Details</b></div>
    <div class="mt-3 footer-child-section">
      <div>Phone: +49 5141 9931522 (no support)</div>
      <div>E-Mail: <a href="#">hello@vctry.gg</a></div>
    </div>
  </div>
  <div class="mt-3">
    <div><b>VAT-ID</b></div>
    <div class="mt-3 footer-child-section">
      <div>Sales tax identification number according to Sect. 27 a of the Sales Tax Law: DE328330185</div>
    </div>
  </div>
  <div class="mt-3">
    <div><b>EU dispute resolution</b></div>
    <div class="mt-3 footer-child-section">
      <div>The European Commission provides a platform for online dispute resolution (ODR):</div>
      <div><a href="https://ec.europa.eu/consumers/odr" target="_blank">https://ec.europa.eu/consumers/odr.</a></div>
      <div class="mt-3">Our e-mail address can be found above in the site notice.</div>
    </div>
  </div>
  <div class="mt-3">
    <div><b>Dispute resolution proceedings in front of a consumer arbitration board</b></div>
    <div class="mt-3 footer-child-section">
      <div>We are not willing nor obliged to participate in dispute resolution proceedings in front of a consumer arbitration board.
      </div>
      <div class="mt-3">
        <div><b>Liability for Contents</b></div>
        <div class="mt-3">
          As service providers, we are liable for own contents of these websites according to Paragraph 7, Sect. 1 German Telemedia Act (TMG). However, according to Paragraphs 8 to 10 German Telemedia Act (TMG), service providers are not obligated to permanently monitor submitted or stored information or to search for evidences that indicate illegal activities.
        </div>
        <div class="mt-3">
          Legal obligations to removing information or to blocking the use of information remain unchallenged. In this case, liability is only possible at the time of knowledge about a specific violation of law. Illegal contents will be removed immediately at the time we get knowledge of them.
        </div>
      </div>
      <div class="mt-3">
        <div><b>Liability for Links</b></div>
        <div class="mt-3">
          Our offer includes links to external third party websites. We have no influence on the contents of those websites, therefore we cannot guarantee for those contents. Providers or administrators of linked websites are always responsible for their own contents.
        </div>
        <div class="mt-3">
          The linked websites had been checked for possible violations of law at the time of the stablishment of the link. Illegal contents were not detected at the time of the linking. A permanent monitoring of the contents of linked websites cannot be imposed without reasonable indications that there has been a violation of law.Illegal links will be removed immediately at the time we get knowledge of them.
        </div>
      </div>
      <div class="mt-3">
        <div><b>Copyright</b></div>
        <div class="mt-3">
          Contents and compilations published on these websites by the providers are subject to German copyright laws. Reproduction, editing, distribution as well as the use of any kind outside the scope of the copyright law require a written permission of the author or originator. Downloads and copies of these websites are permitted for private use only. The commercial use of our contents without permission of the originator is prohibited.
        </div>
        <div class="mt-3">
          Copyright laws of third parties are respected as long as the contents on these websites do not originate from the provider. Contributions of third parties on this site are indicated as such. However, if you notice any violations of copyright law, please inform us. Such contents will be removed immediately.
        </div>
      </div>
    </div>
  </div>
</div>