<div class="mt-4 full-width">
  <div class="content-creator__bg">
    <div class="container contain-padding">
      <div class="text-center pt-5">
        <div class="mt-4">
          <span class="creator-question"><%= I18n.t('homepage.content_creator.success_content.title') %></span><br>
          <span class="creator-answer"><%= I18n.t('homepage.content_creator.success_content.content').html_safe %></span>
        </div>

        <div class="mt-4 pb-5 px-5">
          <a href="<%= tournaments_path %>">
            <div class="creator-checkout-btn"><%= I18n.t('homepage.titles.checkout_tournaments') %></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>