<div class="overlay" id="nav_mobile">
  <%= render partial: current_user ? 'overlay_signed_in_header' : 'overlay_signed_out_header' %>
  <div class="col-md-12 my-4">
    <div class="social-round mr-3 flex-center">
      <i class="fa fa-facebook"></i>
    </div>
    <div class="social-round mr-3 flex-center">
      <i class="fa fa-twitter"></i>
    </div>
    <div class="social-round mr-3 flex-center">
      <i class="fa fa-instagram"></i>
    </div>
  </div>
</div>